<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZYXCalendarView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F182421A1EBC18EB0091526F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F18242331EBC18EB0091526F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F182423E1EBC18EB0091526F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
